#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scanner {
  margin: 20px 0;
}

.result {
  margin-top: 20px;
}

.result a {
  color: #646cff;
  text-decoration: none;
}

.result a:hover {
  text-decoration: underline;
}
